# fresco pandas

In [15]:
import pandas as pd
import numpy as np

In [2]:
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index = ['s1', 's2', 's3', 's4', 's5'])

In [3]:
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9],
                      index = ['s1', 's2', 's3', 's4', 's5'])

In [4]:
df_A = pd.DataFrame(list(zip(heights_A,weights_A)), index = ['s1', 's2', 's3', 's4', 's5'], columns = ['Student_height', 'Student_weight'] )

In [5]:
df_A

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [6]:
classA = df_A.to_csv('classA.csv')

In [7]:
df_A2 = pd.read_csv('classA.csv')
df_A2

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [13]:
df_A3 = pd.read_csv('classA.csv' , index_col=0)

In [14]:
df_A3

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [18]:
np.random.seed(100)

heights_B = pd.Series(np.random.normal(heights_B.mean, heights_B.std, 5), 
                      index = ['s1', 's2', 's3', 's4', 's5'])
np.random.seed(100)

weights_B = pd.Series(np.random.normal(weights_B.mean, weights_B.std, 5), 
                      index = ['s1', 's2', 's3', 's4', 's5'])

NameError: name 'heights_B' is not defined

In [21]:
np.random.seed(100)

labels = ['s1','s2','s3','s4','s5']

my_listh = np.random.normal(170,25,5)

hb = pd.Series(data = my_listh,index = labels)


np.random.seed(100)

my_listw = np.random.normal(75,12,5)
wb = pd.Series(data = my_listw,index = labels)

In [22]:
df_B = pd.DataFrame(list(zip(hb , wb)), 
                    index = ['s1', 's2', 's3', 's4', 's5'], columns = ['Student_height', 'Student_weight'] )

In [23]:
df_B

    Student_height  Student_weight
s1      126.255863       54.002814
s2      178.567010       79.112165
s3      198.825895       88.836430
s4      163.689099       71.970768
s5      194.533020       86.775849

In [24]:
classB = df_B.to_csv('classB.csv' , index= False)

In [27]:
df_B2 = pd.read_csv('classB.csv')
df_B2

   Student_height  Student_weight
0      126.255863       54.002814
1      178.567010       79.112165
2      198.825895       88.836430
3      163.689099       71.970768
4      194.533020       86.775849

In [29]:
df_B3 = pd.read_csv('classB.csv' , header= None)
print(df_B3)

                    0                  1
0      Student_height     Student_weight
1  126.25586317363256  54.00281432334363
2  178.56701008318754  79.11216483993003
3   198.8258950640911  88.83642963076373
4  163.68909908696526  71.97076756174332
5  194.53301967378079  86.77584944341478

In [30]:
df_B4 = pd.read_csv('classB.csv', header=None , skiprows= 2)
print(df_B4)

            0          1
0  178.567010  79.112165
1  198.825895  88.836430
2  163.689099  71.970768
3  194.533020  86.775849

# date

In [61]:
dates = pd.date_range(start='1-Sep-2017', end='15-Sep-2017')
date = pd.DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15'],
              dtype='datetime64[ns]', freq='D')
dates[2]

Timestamp('2017-09-03 00:00:00', freq='D')

In [57]:
dates_to_be_searched = ['14-Sep-2017', '9-Sep-2017']
df = pd.DataFrame({'Date': dates_to_be_searched})
df = pd.to_datetime(df['Date'])
print(df)

0   2017-09-14
1   2017-09-09
Name: Date, dtype: datetime64[ns]

In [72]:
        datelist = ['14-Sep-2017', '9-Sep-2017']
        dates_to_be_searched = pd.to_datetime(datelist)
        dates_to_be_searched
        dates_to_be_searched.isin(date)

array([ True,  True])

In [71]:
dates_to_be_searched.isin(date)

array([ True,  True])